  html{
    margin:0;
    padding:0;
  }
  body{
    font-family: Verdana, Arial, sans-serif;
    font-size:78%;
    margin:0;
    padding:0;
    background:#fff;
    padding:0px 0px 0px 160px;
  }
  #shell{
    background:#ffe302;
  }
  :focus{ outline:0; }

  #masthead{
    margin-bottom:48px;
    padding:0;
  }

  #footer{
    clear:both;
    height:80px;
    background:#333;
    padding:50px;
    margin:0;
  }

/*-----------------------------------
helpers
-----------------------------------*/

.clear{clear:both}
.left{float:left}
.right{float:right}



/*-----------------------------------
Default Typography
-----------------------------------*/

a{
  color:#24F;
  color:#000;
  font-weight:bold;
}

h1, h2, h3, h4, h5, h6{ font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; }

  #masthead h1 {
    line-height: normal;
    padding:0;
    margin:0;
  }
  #masthead h1 a{
    background:#231F20;
    color:#fff;
    background:#000;
    margin:0;
    padding:0px 6px;
    line-height:1em;
    text-decoration:none;
  }
  
/*  #masthead .subscribe{
    float:right;
    margin-top:38px;
  }
  
  #masthead .subscribe a{
    color:#ccc;
    letter-spacing:-.06em;
    margin:0;
    margin-bottom:-0.25em;
    padding:0;
    line-height:1em;
    font-size:1.8em;
    text-decoration:none;
    width:143px;
    height:37px;
    display:block;
  }*/




/*-----------------------------------
 .post
-----------------------------------*/

  #post{
    padding:0px 50px 40px 20px;
    width:540px;
  }

  #post h1{
    width:98%;
    font-size:3.15em;
    font-size:52px;
    line-height:1em;
    letter-spacing:-0.025em;
    word-spacing:-0.05em;
    color:#999999;
    color:#ef105a;
    text-decoration:none;
    margin:0;
    padding:0;
    display:inline;
  }
  
  #post p, #post li{
    line-height:150%;
  }
  #post iframe.phone{
    border-style: none;
    border:3px solid #333;
    -webkit-border-radius:4px;
    float:left;
    margin-right:15px;
    margin-bottom:5px;
  }
  
  
  span.drop {
  font-family:Georgia;
  color:#4ebaff;
  color:#231F20;
  color:#000;
  display:inline;
  float:left;
  font-size:2.8em;
  line-height:0.8em;
  margin:0.07em 0.09em 0pt 0pt;
  text-transform:uppercase;
  
  font-family:Helvetica, Arial;
  margin:0.1em 0.09em 0pt 0pt;
  font-size:2.7em;
  font-weight:bold;
  }
  
  .body h2{
  color:#777777;
  font-size:1.6em;
  padding:6px 0 0px;
  }

.meta{
  font-family: Georgia, Serif;
  font-size:1.0em;
  text-align:right;
  color:#231F20;
  color:#d11;
  margin:0px 0 20px;
  }
  span.published_at{
    float:left;
    }
  span.comments_count{
    padding-right:10px;
    } 
    span.sub{
    vertical-align:middle;
    font-size:1.4em;
    }
    span.big{
    font-size:2.2em;
    letter-spacing:-.06em;
    }


  
  
/* standard */
#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}
#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 95%;
  padding: 0 .2em;
}
#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid black;
  background-color: #333;
  color: white;
}
#post pre.terminal code {
  background-color: #333;
}
